<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="meta description">

		<!-- Site title -->
		<title>购物车</title>
		<!-- Favicon -->
		<link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon" />
		<!-- Bootstrap CSS -->
		<link th:href="@{~/assets/css/bootstrap.min.css}" rel="stylesheet">
		<!-- Font-Awesome CSS -->
		<link th:href="@{~/assets/css/font-awesome.min.css}" rel="stylesheet">
		<!-- helper class css -->
		<link th:href="@{~/assets/css/helper.min.css}" rel="stylesheet">
		<!-- Plugins CSS -->
		<link th:href="@{~/assets/css/plugins.css}" rel="stylesheet">
		<!-- Main Style CSS -->
		<link th:href="@{~/assets/css/style.css}" rel="stylesheet">
		<link th:href="@{~/assets/css/skin-default.css}" rel="stylesheet" id="galio-skin">
	</head>

	<body>

		<!-- color switcher start -->
		<div class="color-switcher">
			<div class="color-switcher-inner">
				<div class="switcher-icon">
					<i class="fa fa-cog fa-spin"></i>
				</div>

				<div class="switcher-panel-item">
					<h3>Color Schemes</h3>
					<ul class="nav flex-wrap colors">
						<li class="default active" data-color="default" data-toggle="tooltip" data-placement="top" title="Red"></li>
						<li class="green" data-color="green" data-toggle="tooltip" data-placement="top" title="Green"></li>
						<li class="soft-green" data-color="soft-green" data-toggle="tooltip" data-placement="top" title="Soft-Green"></li>
						<li class="sky-blue" data-color="sky-blue" data-toggle="tooltip" data-placement="top" title="Sky-Blue"></li>
						<li class="orange" data-color="orange" data-toggle="tooltip" data-placement="top" title="Orange"></li>
						<li class="violet" data-color="violet" data-toggle="tooltip" data-placement="top" title="Violet"></li>
					</ul>
				</div>

				<div class="switcher-panel-item">
					<h3>Layout Style</h3>
					<ul class="nav layout-changer">
						<li><button class="btn-layout-changer active" data-layout="wide">Wide</button></li>
						<li><button class="btn-layout-changer" data-layout="boxed">Boxed</button></li>
					</ul>
				</div>

				<div class="switcher-panel-item bg">
					<h3>Background Pattern</h3>
					<ul class="nav flex-wrap bgbody-style bg-pattern">
						<li><img src="assets/img/bg-panel/bg-pettern/1.png" alt="Pettern"></li>
						<li><img src="assets/img/bg-panel/bg-pettern/2.png" alt="Pettern"></li>
						<li><img src="assets/img/bg-panel/bg-pettern/3.png" alt="Pettern"></li>
						<li><img src="assets/img/bg-panel/bg-pettern/4.png" alt="Pettern"></li>
						<li><img src="assets/img/bg-panel/bg-pettern/5.png" alt="Pettern"></li>
						<li><img src="assets/img/bg-panel/bg-pettern/6.png" alt="Pettern"></li>
					</ul>
				</div>

				<div class="switcher-panel-item bg">
					<h3>Background Image</h3>
					<ul class="nav flex-wrap bgbody-style bg-img">
						<li><img src="assets/img/bg-panel/bg-img/01.jpg" alt="Images"></li>
						<li><img src="assets/img/bg-panel/bg-img/02.jpg" alt="Images"></li>
						<li><img src="assets/img/bg-panel/bg-img/03.jpg" alt="Images"></li>
						<li><img src="assets/img/bg-panel/bg-img/04.jpg" alt="Images"></li>
						<li><img src="assets/img/bg-panel/bg-img/05.jpg" alt="Images"></li>
						<li><img src="assets/img/bg-panel/bg-img/06.jpg" alt="Images"></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- color switcher end -->

		<div class="wrapper box-layout">

			<!-- header area start -->
			<header>

				<!-- header top start -->
				<div th:replace="~{index::head1}"></div>
				<div th:replace="~{index::head2}"></div>
				<!-- header middle end -->

				<!-- main menu area start -->
				<div class="main-header-wrapper bdr-bottom1">
					<div class="container">
						<div class="row">
							<div class="col-lg-12">
								<div class="main-header-inner">
									<div class="category-toggle-wrap">
										<div class="category-toggle">
											分类
											<div class="cat-icon">
												<i class="fa fa-angle-down"></i>
											</div>
										</div>
										<nav th:replace="~{login-register::listfromlogin}"></nav>
									</div>
									<div class="main-menu">
										<nav id="mobile-menu">
											<ul th:replace="~{index::list}"></ul>
										</nav>
									</div>
								</div>
							</div>
							<div class="col-12 d-block d-lg-none">
								<div class="mobile-menu"></div>
							</div>
						</div>
					</div>
				</div>
				<!-- main menu area end -->

			</header>
			<!-- header area end -->

			<!-- breadcrumb area start -->
			<div class="breadcrumb-area">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="breadcrumb-wrap">
								<nav aria-label="breadcrumb">
									<ul class="breadcrumb">
										<li class="breadcrumb-item">
											<a href="index.html">Home</a>
										</li>
										<li class="breadcrumb-item">
											<a href="shop-grid-left-sidebar.html">shop</a>
										</li>
										<li class="breadcrumb-item active" aria-current="page">cart</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- breadcrumb area end -->

			<!-- cart main wrapper start -->
			<!-- 购物车 start -->
			<div class="cart-main-wrapper">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<!-- 购物车表头-->
							<div class="cart-table table-responsive">
								<table class="table table-bordered">
									<thead>
									<tr >
										<th class="pro-thumbnail">缩略图</th>
										<th class="pro-title">商品</th>
										<th class="pro-price">价格</th>
										<th class="pro-quantity">数量</th>
										<th class="pro-subtotal">合计</th>
										<th class="pro-remove">删除</th>
									</tr>
									</thead>
									<tbody>
									<tr th:each="cart:${carts}">
										<td class="pro-thumbnail">
										<a href="#"><img class="img-fluid" src="assets/book/小说/12.jpg" th:each="book:${books}" th:if="${book.id == cart.goods_id}" th:src="@{'~/assets/book/'+${book.book_type}+'/'+${book.img_src}}" alt="Product" /></a>
									</td>
										<td class="pro-title">
											<a href="#" th:each="book:${books}" th:if="${book.id == cart.goods_id}" th:text="${book.book_name}">《漫长的告白》</a>
										</td>
										<td class="pro-price" th:each="book:${books}" th:if="${book.id == cart.goods_id}" th:text="${book.book_price}"><span class="price_1">25.00元</span></td>
										<td class="pro-quantity">
											<div class="pro-qty"><input class="num" type="text" th:value="${cart.goods_num}" value="1"></div>
										</td>
										<td class="pro-subtotal"><span class="price_2" th:each="book:${books}" th:if="${book.id == cart.goods_id}" th:text="${cart.goods_num}*${book.book_price}+'元'">25.00元</span></td>
										<td class="pro-remove">
											<a href="#" th:href="@{/cart/delete(carid=${cart.getCarid()})}" ><i class="fa fa-trash-o"></i></a>
										</td>
									</tr>
									</tbody>
								</table>
							</div>

							<div class="cart-update-option d-block d-md-flex justify-content-between">
								<div class="apply-coupon-wrapper">

								</div>
								<div class="cart-update mt-sm-16">
									<a href="#" class="sqr-btn">更新购物车</a>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-5 ml-auto">
							<!-- Cart Calculation Area -->
							<div class="cart-calculator-wrapper">
								<div class="cart-calculate-items">
									<h3>购物车总计</h3>
									<div class="table-responsive">
										<table class="table">
											<tr>
												<td>小计</td>
												<td th:text="${unitsum}+'元'">25元</td>
											</tr>
											<tr>
												<td>运费</td>
												<td>20元</td>
											</tr>
											<tr class="total">
												<td>总价</td>
												<td class="total-amount" th:text="${totalprice}+'元'">30元</td>
											</tr>
										</table>
									</div>
								</div>
								<a href="checkout.html" th:href="@{/pay(name=${name},price=${totalprice},desc='云鸽书籍网图书购买')}" class="sqr-btn d-block">进行结算</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 购物车 end -->
			<!-- cart main wrapper end -->

			<!-- brand area start -->
			<div th:replace="index::footer1"></div>
			<!-- brand area end -->

			<!-- footer area start -->
			<footer th:replace="index::footer2"></footer>
			<!-- footer area end -->

		</div>

		<!-- Scroll to top start -->
		<div class="scroll-top not-visible">
			<i class="fa fa-angle-up"></i>
		</div>
		<!-- Scroll to Top End -->

		<!--All jQuery, Third Party Plugins & Activation (main.js) Files-->
		<script th:src="@{~/assets/js/vendor/modernizr-3.6.0.min.js}"></script>
		<!-- Jquery Min Js -->
		<script th:src="@{~/assets/js/vendor/jquery-3.3.1.min.js}"></script>
		<!-- Popper Min Js -->
		<script th:src="@{~/assets/js/vendor/popper.min.js}"></script>
		<!-- Bootstrap Min Js -->
		<script th:src="@{~/assets/js/vendor/bootstrap.min.js}"></script>
		<!-- Plugins Js-->
		<script th:src="@{~/assets/js/plugins.js}"></script>
		<!-- Ajax Mail Js -->
		<script th:src="@{~/assets/js/ajax-mail.js}"></script>
		<!-- Active Js -->
		<script th:src="@{~/assets/js/main.js}"></script>
		<!-- Switcher JS [Please Remove this when Choose your Final Projct] -->

	</body>

</html>